{% load static %}
{% load widget_tweaks %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="ie=edge" http-equiv="x-ua-compatible">
    <title>Sign In</title>
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <link href="{% static 'img/favicon.ico' %}" rel="shortcut icon" type="image/x-icon">

    {% include 'widgets/styles.html' %}

</head>

<body>

{% include 'widgets/header.html' %}

<main>
    <div class="slider-area">
        <div class="slider-active">
            <div class="single-slider slider-height3">

                <div class="row">

                    <div class="col-md-6">

                        <div class="offer-area">
                            <div class="hero__caption">
                                <p class="offer-text" data-animation="fadeInRight" data-delay=".4s"><i
                                        class="far fa-check-circle"></i> Online Tests</p>
                                <p class="offer-text" data-animation="fadeInRight" data-delay=".6s"><i
                                        class="far fa-check-circle"></i> Study Materials</p>
                                <p class="offer-text" data-animation="fadeInRight" data-delay=".8s"><i
                                        class="far fa-check-circle"></i> Video Tutorials</p>
                            </div>
                        </div>

                    </div>

                    <div class="col-md-6">
                        <div class="sign-in-card">
                            <div class="card-block">

                                <h3 class="form-name-text">Sign In</h3>

                                <form action="{% url 'login' %}" class="sign-in-form" method="post">
                                    {% csrf_token %}

                                    <div class="field">
                                        <div class="control">
                                            {{form.username|add_class:"input"|attr:"placeholder:Username"|remove_attr:"autofocus"}}
                                        </div>
                                        <p class="help is-danger">{{ form.username.errors }}</p>
                                    </div>

                                    <div class="field">
                                        <div class="control">
                                            {{ form.password|add_class:"input"|attr:"placeholder:Password" }}
                                        </div>
                                        <p class="help is-danger">{{ form.password.errors }}</p>
                                    </div>

                                    {% if form.errors %}
                                    <p class="help is-danger">The username or password is incorrect. Please check and try again.</p>
                                    {% endif %}

                                    {% if message %}
                                    <p class="help is-danger">{{message}}</p>
                                    {% endif %}

                                    <a class="forgot-text" href="{% url 'reset_password' %}">Forgot Password?</a>

                                    <div class="field">
                                        <div class="control">
                                            <button class="btn sign-in-btn is-link">login</button>
                                        </div>
                                    </div>

                                    <a class="create-account-text" href="{% url 'register' %}">CREATE AN ACCOUNT</a>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</main>

{% include 'widgets/footer.html' %}

{% include 'widgets/scripts.html' %}

</body>

</html>
