{% load static %}
{% load widget_tweaks %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="ie=edge" http-equiv="x-ua-compatible">
    <title>Password Reset</title>
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <link href="{% static 'img/favicon.ico' %}" rel="shortcut icon" type="image/x-icon">

    {% include 'widgets/styles.html' %}

</head>

<body>

{% include 'widgets/header.html' %}

<main>
    <div class="slider-area">
        <div class="slider-active">
            <div class="single-slider slider-height3">

                <div class="row">

                    <div class="col-md-2"></div>

                    <div class="col-md-8 mt-50">
                        <div class="custom-card">
                            <div class="card-block">

                                <h3 class="form-name-text">Password Reset</h3>

                                <br>

                                <p class="form-ins-text text-center">Choose a strong password and don't reuse it for
                                    other accounts.</p>

                                <form class="sign-in-form" method="post">
                                    {% csrf_token %}

                                    <div class="field">
                                        <div class="control">
                                            {{form.new_password1|add_class:"input"|attr:"placeholder:New Password"}}
                                        </div>
                                        <p class="help is-danger">{{ form.new_password1.errors }}</p>
                                    </div>

                                    <div class="field">
                                        <div class="control">
                                            {{form.new_password2|add_class:"input"|attr:"placeholder:Confirm New Password"}}
                                        </div>
                                        <p class="help is-danger">{{ form.new_password2.errors }}</p>
                                    </div>

                                    <br>

                                    <div class="field">
                                        <div class="control">
                                            <button class="btn sign-in-btn is-link">save</button>
                                        </div>
                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-2"></div>

                </div>

            </div>

        </div>
    </div>
</main>

{% include 'widgets/footer.html' %}

{% include 'widgets/scripts.html' %}

</body>

</html>
