{% load static %}
{% load widget_tweaks %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="ie=edge" http-equiv="x-ua-compatible">
    <title>Password Reset</title>
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <link href="{% static 'img/favicon.ico' %}" rel="shortcut icon" type="image/x-icon">

    {% include 'widgets/styles.html' %}

</head>

<body>

{% include 'widgets/header.html' %}

<main>
    <div class="slider-area">
        <div class="slider-active">
            <div class="single-slider slider-height3"
                 data-background="{% static 'img/hero/h1_hero' %}.jpg">

                <div class="row">

                    <div class="col-md-6">

                        <div class="offer-area">
                            <div class="hero__caption">
                                <p class="offer-text" data-animation="fadeInRight" data-delay=".4s"><i
                                        class="far fa-check-circle"></i> Online Tests</p>
                                <p class="offer-text" data-animation="fadeInRight" data-delay=".6s"><i
                                        class="far fa-check-circle"></i> Study Materials</p>
                                <p class="offer-text" data-animation="fadeInRight" data-delay=".8s"><i
                                        class="far fa-check-circle"></i> Video Tutorials</p>
                            </div>
                        </div>

                    </div>

                    <div class="col-md-6">
                        <div class="card sign-in-card">
                            <div class="card-block">

                                <h3 class="form-name-text">Password Reset</h3>

                                <form class="sign-in-form" method="post">
                                    {% csrf_token %}

                                    <div class="field">
                                        <div class="control">
                                            {{form.new_password1|add_class:"input"|attr:"placeholder:New Password"}}
                                        </div>
                                        <p class="help is-danger">{{ form.new_password1.errors }}</p>
                                    </div>

                                    <div class="field">
                                        <div class="control">
                                            {{form.new_password2|add_class:"input"|attr:"placeholder:Confirm New Password"}}
                                        </div>
                                        <p class="help is-danger">{{ form.new_password2.errors }}</p>
                                    </div>

                                    <div class="field">
                                        <div class="control">
                                            <button class="btn sign-in-btn is-link">next</button>
                                        </div>
                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</main>

{% include 'widgets/footer.html' %}

{% include 'widgets/scripts.html' %}

</body>

</html>
