{% load static %}
{% load i18n %}

<!-- Bootstrap CSS -->
<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

<!-- CSS here -->
<link href="{% static 'css/all.css' %}" rel="stylesheet">
<link href="{% static 'css/owl.carousel.min.css' %}" rel="stylesheet">
<link href="{% static 'css/flaticon.css' %}" rel="stylesheet">
<link href="{% static 'css/slicknav.css' %}" rel="stylesheet">
<link href="{% static 'css/animate.min.css' %}" rel="stylesheet">
<link href="{% static 'css/magnific-popup.css' %}" rel="stylesheet">
<link href="{% static 'css/themify-icons.css' %}" rel="stylesheet">
<link href="{% static 'css/slick.css' %}" rel="stylesheet">
<link href="{% static 'css/nice-select.css' %}" rel="stylesheet">
<link href="{% static 'css/style.css' %}" rel="stylesheet">
<link href="{% static 'css/main.css' %}" rel="stylesheet">