{% load static %}
{% load widget_tweaks %}

<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta content="ie=edge" http-equiv="x-ua-compatible">
    <title>Vedam EduPoint</title>
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <link href="{% static 'img/favicon.ico' %}" rel="shortcut icon" type="image/x-icon">

    {% include 'widgets/styles.html' %}

</head>

<body>

{% include 'widgets/header.html' %}

<main>

    {% if message %}
    <div class="alert alert-success alert-dismissible fade show text-center" role="alert">
        {{message}}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endif %}

    <div class="slider-area ">
        <div class="single-slider slider-height2 d-flex align-items-center">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="hero-cap text-center">
                            <h2>Contact Us</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <section class="category-area">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">

                    <div class="text-center mb-5">
                        <p><strong>For any complaint or query, please write us here.</strong></p>
                    </div>

                    <div class="contact-form">

                        <form action="{% url 'contact' %}" method="post">
                            {% csrf_token %}

                            <div class="field">
                                <div class="control">
                                    {{form.full_name|add_class:"input wide-input"|attr:"placeholder:Full Name"|attr:"required"}}
                                </div>
                                <p class="help is-danger">{{ form.full_name.errors }}</p>
                            </div>

                            <div class="field">
                                <div class="control">
                                    {{form.email|add_class:"input wide-input"|attr:"placeholder:Email"|attr:"required"}}
                                </div>
                                <p class="help is-danger">{{ form.email.errors }}</p>
                            </div>

                            <div class="field">
                                <div class="control">
                                    {{form.subject|add_class:"input wide-input"|attr:"placeholder:Subject"|attr:"required"}}
                                </div>
                                <p class="help is-danger">{{ form.subject.errors }}</p>
                            </div>

                            <div class="field">
                                <div class="control">
                                    {{form.comment|add_class:"input long-input"|attr:"placeholder:Write here..."|attr:"required"}}
                                </div>
                                <p class="help is-danger">{{ form.comment.errors }}</p>
                            </div>

                            <div class="field">
                                <div class="control">
                                    <button class="btn test-start-btn btn-lg is-link">send</button>
                                </div>
                            </div>

                        </form>

                    </div>

                </div>
            </div>
        </div>
    </section>
</main>

{% include 'widgets/footer.html' %}

{% include 'widgets/scripts.html' %}

</body>

</html>