{% load static %}
{% load i18n %}

<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta content="ie=edge" http-equiv="x-ua-compatible">
    <title>Vedam EduPoint</title>
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <link href="{% static 'img/favicon.ico' %}" rel="shortcut icon" type="image/x-icon">

    {% include 'widgets/styles.html' %}

</head>

<body>

{% include 'widgets/loader.html' %}

{% include 'widgets/header.html' %}

<main>

    <!--<div class="mt-40 mb-40 text-center">
        <div class="row">
            <div class="col-md-12">
                    <p style="background-color:#ddd;">We are hiring some members for our team.
                        As per your choice and your eligibility, you can apply <a class="link-btn" href="">here</a> .</p>
            </div>
        </div>
    </div>-->

    <div class="slider-area ">

        <div class="slider-active">
            <div class="single-slider slider-height">
                <div class="container">
                    <div class="row d-flex align-items-center justify-content-between">
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 d-none d-md-block">
                            <div class="hero__img" data-animation="bounceIn" data-delay=".4s">
                                <img alt="" src="{% static 'img/hero/online-developer.svg' %}">
                            </div>
                        </div>

                        <div class="col-xl-5 col-lg-5 col-md-5 col-sm-8">
                            <div class="hero__caption">
                                <span data-animation="fadeInRight" data-delay=".4s">Free Online Test</span>
                                <h1 data-animation="fadeInRight" data-delay=".6s">Welcome <br> {{user.first_name}}
                                    {{user.last_name}}</h1>
                                <p data-animation="fadeInRight" data-delay=".8s">Try Our Online Test Now!</p>
                                <div class="hero__btn" data-animation="fadeInRight" data-delay="1s">
                                    <a class="btn" href="{% url 'online-test-list' %}">Online test</a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--<section class="category-area section-padding30">
        <div class="container-fluid">

            <div class="row">
                <div class="col-lg-12">
                    <div class="section-tittle text-center mb-85">
                        <h2>Courses</h2>
                    </div>
                </div>
            </div>

            <div class="row">

                <div class="col-xl-4 col-lg-6">
                    <div class="single-category mb-30">
                        <div class="category-img">
                            <img src="{% static 'img/courses/workspace.svg' %}" alt="Course">
                            <div class="category-caption">
                                <h5>Coming Soon</h5>
                                <h2>9th-10th</h2>
                                <a class="btn border-btn test-start-btn is-link" href="">Enroll now</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>-->

</main>

{% include 'widgets/footer.html' %}

{% include 'widgets/scripts.html' %}

</body>

</html>
