{% load static %}

<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta content="ie=edge" http-equiv="x-ua-compatible">
    <title>Vedam EduPoint</title>
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <link href="{% static 'img/favicon.ico' %}" rel="shortcut icon" type="image/x-icon">

    {% include 'widgets/styles.html' %}

</head>

<body>

{% include 'widgets/header.html' %}

<main>

    <div class="slider-area ">
        <div class="single-slider slider-height2 d-flex align-items-center">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="hero-cap text-center">
                            <h2>My Profile</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <section class="product_list section_padding">
        <div class="container">
            <div class="row">

                <div class="col-md-12">

                    <div class="profile-area">

                        <div class="profile-area-padding">

                            <div class="profile-img">

                                {% for currentUser in profileImg %}

                                <div class="profile-img-card">
                                    <img src="{% if currentUser.img %}{{ currentUser.img.url }}{% else %}/static/img/person.png{% endif %}" alt="profile_image">
                                </div>

                                {% empty %}

                                <div class="profile-img-card">
                                    <img src="{% static 'img/person.png' %}" alt="img">
                                </div>

                                {% endfor %}

                                <form method="post" enctype="multipart/form-data" action="{% url 'profile' username=user.username %}">
                                    {% csrf_token %}

                                    <div class="upload-field">
                                        {{ form.img }}
                                    </div>

                                    <div class="upload-field">
                                        <input type="submit" value="UPLOAD">
                                    </div>

                                </form>

                            </div>

                            <div class="form-field">
                                <label>Full Name</label>
                                <div class="field-value">
                                    <p> {{user.first_name}} </p>
                                    <p> {{user.last_name}} </p>
                                </div>
                            </div>

                            <div class="form-field">
                                <label>Email</label>
                                <div class="field-value">
                                    <p> {{user.email}} </p>
                                </div>
                            </div>

                            <div class="form-field">
                                <label>Username</label>
                                <div class="field-value">
                                    <p> {{user.username}} </p>
                                </div>
                            </div>

                             <div class="form-field">
                                <label>Reset Password</label>
                                <div class="field-value">
                                    <p><a class="forgot-text" href="{% url 'reset_password' %}">Reset Password</a></p>
                                </div>
                            </div>

                            <div class="form-field">
                                <label>Your Progress</label>
                                <div class="field-value">
                                    <p><a class="forgot-text" href="{% url 'test-progress' %}">Your Progress</a></p>
                                </div>
                            </div>

                        </div>

                    </div>

                </div>

            </div>

        </div>
    </section>

</main>

{% include 'widgets/footer.html' %}

{% include 'widgets/scripts.html' %}

</body>

</html>