{% load static %}
{% load i18n %}

<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta content="ie=edge" http-equiv="x-ua-compatible">
    <title>Vedam EduPoint</title>
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <link href="{% static 'img/favicon.ico' %}" rel="shortcut icon" type="image/x-icon">
    {% include 'widgets/styles.html' %}

</head>

<body>

{% include 'widgets/header.html' %}

<main>

    <section class="category-area mt-50">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">

                    <div class="test-card">

                        {% if testpaper %}

                        <h3>{{testpaper.name}}</h3>

                        <h4>{{testpaper.category}} ({{testpaper.course}})</h4>

                        <h5>{{testpaper.subject}}</h5>

                        <hr>

                        <div class="d-flex justify-content-between">
                            <p><strong>Full Marks : {{testpaper.max_marks}}</strong></p>
                            <p><strong>Time : {{testpaper.max_time}} min</strong></p>
                        </div>

                        <div class="instruction-text">
                            <p><strong>Instructions:</strong></p>
                            <p>{{testpaper.instructions|linebreaks}}</p>
                        </div>

                        <hr>

                        {% endif %}

                        {% if question %}

                        {% if progress %}

                        <div id="online-test-area" class="test-area mt-20">

                            <div class="question-progress">
                                <p class="progress-text"><strong>👉 Question {{ progress.0|add:1 }} of {{ progress.1 }}</strong></p>
                            </div>

                            <div class="test-question">
                                <div class="question-text">{{ question.text|safe|linebreaks }}</div>
                            </div>

                            <br>

                            {% endif %}

                            {% if question.figure %}

                            <img src="{{ question.figure.url }}" alt="question"/>

                            <br>
                            <br>
                            <br>

                            {% endif %}

                            <form id="question-form" data-instance="{{ sitting }}"
                                  data-href="{{ testpaper.get_test_portal_url }}"
                                  action="" method="POST">

                                {% csrf_token %}

                                <input type=hidden name="question_id" value="{{ question.id }}">

                                    {% for answer in form.answers %}
                                    <p class="answer-text">
                                        {{ answer }}
                                    </p>
                                    {% endfor %}

                                <input id="submit-btn" type="submit" value="Next" class="btn test-start-btn">

                            </form>

                            {% endif %}

                        </div>

                    </div>

                </div>

            </div>
        </div>
        </div>
    </section>

</main>

{% include 'widgets/footer.html' %}

{% include 'widgets/scripts.html' %}

<!--<script>-->

<!--    $(document).ready(function () {-->
<!--        const $myForm = $("#question-form");-->
<!--        let $question = $(".question-text")-->

<!--        $myForm.submit(function (event) {-->
<!--            event.preventDefault()-->
<!--            let $formData = $(this).serialize();-->
<!--            const $url_ = $myForm.attr("data-href");-->

<!--            $.ajax({-->
<!--                method: "POST",-->
<!--                url: $url_,-->
<!--                data: $formData,-->
<!--                success: handleFormSuccess,-->
<!--                error: handleFormError,-->
<!--            })-->

<!--            function handleFormSuccess(data, textStatus, jgXHR) {-->
<!--                console.log(data)-->
<!--                //$question.text(data["question"])-->
<!--                $myForm[0].reset()-->
<!--            }-->

<!--            function handleFormError(jgXHR, textStatus, errorThrown) {-->
<!--                console.log(jgXHR)-->
<!--                console.log(textStatus)-->
<!--                console.log(errorThrown)-->
<!--            }-->

<!--        })-->
<!--    })-->

<!--</script>-->

</body>

</html>
