{% load static %}
{% load i18n %}
{% load test_tags %}

<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta content="ie=edge" http-equiv="x-ua-compatible">
    <title>Vedam EduPoint</title>
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <link href="{% static 'img/favicon.ico' %}" rel="shortcut icon" type="image/x-icon"> {% include 'widgets/styles.html' %}

</head>

<body>

    {% include 'widgets/header.html' %}

    <main>

        <section class="category-area mt-50">
            <div class="row">
                <div class="col-lg-12">

                    {% if sitting_list %}

                    <h2 class="text-center mb-20">List of Complete Tests</h2>
                    <hr>
                    <br>
                    <br>

                    <table class="table table-bordered table-striped text-center">

                        <thead>
                            <tr>
                                <th>User</th>
                                <th>Test</th>
                                <th>Completed</th>
                                <th>Score(%)</th>
                                <th></th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr>
                                <form action="" method="GET">
                                    {% csrf_token %}
                                    <td><input class="table-input" type="text" name="user_filter" /></td>
                                    <td><input class="table-input" type="text" name="quiz_filter" /></td>
                                    <td></td>
                                    <td></td>
                                    <td>
                                        <button type="submit" class="link-btn">Filter</button>
                                    </td>
                                </form>
                            </tr>


                            {% for sitting in sitting_list %}

                            <tr>
                                <td>{{ sitting.user }}</td>
                                <td>{{ sitting.paper }}</td>
                                <td>{{ sitting.end|date }}</td>
                                <td>{{ sitting.get_percent_correct }}</td>
                                <td>
                                    <a class="link-btn" href="{% url 'test-marking-detail' pk=sitting.id %}">
                                View Details
                            </a>
                                </td>
                            </tr>

                            {% endfor %}

                        </tbody>

                    </table>

                    {% else %}

                    <p>There are no matching tests.</p>

                    {% endif %}

                </div>
            </div>

        </section>

    </main>

    {% include 'widgets/footer.html' %} {% include 'widgets/scripts.html' %}

</body>

</html>