{% load static %}
{% load i18n %}

<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta content="ie=edge" http-equiv="x-ua-compatible">
    <title>Vedam EduPoint</title>
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <link href="{% static 'img/favicon.ico' %}" rel="shortcut icon" type="image/x-icon">

    {% include 'widgets/styles.html' %}

</head>

<body>

{% include 'widgets/header.html' %}

<main>

    {% if testpaper_list %}

    <div class="slider-area">
        <!-- Mobile Menu -->
        <div class="single-slider slider-height2 d-flex align-items-center">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="hero-cap text-center">
                            <h2>Available Tests</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <section class="category-area mt-30">
        <div class="container-fluid">
            <div class="row">

                {% for test in testpaper_list %}

                <div class="col-xl-4 col-lg-6">
                    <div class="single-category mb-30 text-center">
                        <div class="category-img">
                            <img src="{% static 'img/courses/graduation.svg' %}" alt="test-img">
                            <div class="category-caption">
                                <h2>{{test.name}}</h2>
                                <h5>Course : {{test.course}}</h5>
                                <h5>Subject : {{test.subject}}</h5>
                                <a class="btn border-btn test-start-btn is-link"
                                   href="{{ test.get_absolute_url }}">
                                    view details
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                {% endfor %}

            </div>
        </div>
    </section>

    {% else %}
    <p class="text-center mt-40">
        There is no test available at this time.
    </p>
    {% endif %}

</main>

{% include 'widgets/footer.html' %}

{% include 'widgets/scripts.html' %}

</body>

</html>