{% load static %} {% load i18n %}

<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta content="ie=edge" http-equiv="x-ua-compatible">
    <title>Vedam EduPoint</title>
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <link href="{% static 'img/favicon.ico' %}" rel="shortcut icon" type="image/x-icon"> {% include 'widgets/styles.html' %}

</head>

<body>

    {% include 'widgets/header.html' %}

    <main>

        {% if testpaper %}

        <section class="category-area mt-50">
            <div class="container-fluid">
                <div class="row">

                    <div class="col-lg-12 text-center">

                        <h1><strong>{{testpaper.name}}</strong></h1>
                        <hr>
                        <h2><strong>Category:</strong> {{testpaper.category}}</h2>
                        <h2><strong>Course:</strong> {{testpaper.course}}</h2>
                        <h2><strong>Subject:</strong> {{testpaper.subject}}</h2>
                        <h2><strong>Full Marks:</strong> {{testpaper.max_marks}}</h2>
                        <h2><strong>Time:</strong> {{testpaper.max_time}} min</h2>
                        <p><strong>Instructions:</strong></p>
                        <p class="text-justify">{{testpaper.instructions|linebreaks}}</p>
                        <a class="btn border-btn test-start-btn is-link" href="{% url 'online-test-take' slug=testpaper.slug %}">
                        start now
                    </a>
                    </div>

                </div>
            </div>
        </section>

        {% else %}

        <p class="text-center mt-40">
            There is no details available for this test.
        </p>

        {% endif %}

    </main>

    {% include 'widgets/footer.html' %} {% include 'widgets/scripts.html' %}

</body>

</html>