{% load static %}
<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta content="ie=edge" http-equiv="x-ua-compatible">
    <title>Vedam EduPoint</title>
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <link href="{% static 'img/favicon.ico' %}" rel="shortcut icon" type="image/x-icon">

    <!-- Bootstrap CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- CSS here -->
    <link href="{% static 'css/all.css' %}" rel="stylesheet">
    <link href="{% static 'css/owl.carousel.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/flaticon.css' %}" rel="stylesheet">
    <link href="{% static 'css/slicknav.css' %}" rel="stylesheet">
    <link href="{% static 'css/animate.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/magnific-popup.css' %}" rel="stylesheet">
    <link href="{% static 'css/themify-icons.css' %}" rel="stylesheet">
    <link href="{% static 'css/slick.css' %}" rel="stylesheet">
    <link href="{% static 'css/nice-select.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <link href="{% static 'css/main.css' %}" rel="stylesheet">
</head>

<body>

<header>
    <!-- Header Start -->
    <div class="header-area">
        <div class="main-header ">
            <div class="header-bottom  header-sticky">
                <div class="container-fluid">
                    <div class="row align-items-center">
                        <!-- Logo -->
                        <div class="col-xl-1 col-lg-1 col-md-1 col-sm-3">
                            <div class="logo">
                                <a href="{% url 'home' %}"><img alt="" src="{% static 'img/logo/logo.png' %}"></a>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-8 col-md-7 col-sm-5">
                            <!-- Main-menu -->
                            <div class="main-menu f-right d-none d-lg-block">
                                <nav>
                                    <ul id="navigation">
                                        <li><a href="{% url 'home' %}">Home</a></li>
                                        <li class="hot"><a href="">Latest</a>
                                            <ul class="submenu">
                                                <li><a href="{% url 'online-test' %}"> Online Test</a></li>
                                                <li><a href="#"> Courses</a>
                                                    <ul class="submenu-sub">
                                                        <li><a href="#">Class 5th-8th</a></li>
                                                        <li><a href="#">Class 9th-10th</a></li>
                                                        <li><a href="#">Class 11th-12th</a></li>
                                                        <li><a href="#">IIT-JEE</a></li>
                                                        <li><a href="#">NEET</a></li>
                                                    </ul>
                                                </li>
                                                <li><a href="#"> Assignments</a></li>
                                                <li><a href="#"> eBooks</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="{% url 'about' %}">About</a></li>
                                        <li><a href="{% url 'contact' %}">Contact</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>

                        {% if user.is_authenticated %}

                        <div class="col-xl-5 col-lg-3 col-md-3 col-sm-3 fix-card">
                            <ul class="header-right f-right d-none d-lg-block d-flex justify-content-between">

                                <li class="d-none d-xl-block">
                                    <div class="favorit-items" id="favorite-count">
                                        <a href="cart.html"><i class="far fa-heart"></i></a>

                                    </div>
                                </li>

                                <li>
                                    <div class="d-none d-xl-block">
                                        <div class="shopping-card">
                                            <a href="cart.html"><i class="fas fa-shopping-cart"></i></a>
                                        </div>
                                    </div>
                                </li>

                                <li>
                                    {% for currentUser in profileImg %}

                                    <div class="user-card">
                                        <a href="#">
                                            <img src="{% if currentUser.img %}{{ currentUser.img.url }}{% else %}/static/img/person.png{% endif %}"
                                                 alt="">
                                        </a>
                                    </div>

                                    {% empty %}

                                    <div class="user-card">
                                        <a href="#"><img src="{% static 'img/person.png' %}" alt="img"></a>
                                    </div>

                                    {% endfor %}

                                    <ul class="user-submenu">
                                        <li><a href="{% url 'profile' username=user.username %}">My Profile</a></li>
                                        <li><a href="#">Settings</a></li>
                                        <hr>
                                        <li><a href="#">My Courses</a></li>
                                        <li><a href="#">My Wishlist</a></li>
                                        <hr>
                                        <li><a href="#">My Cart</a></li>
                                        <li><a href="#">Checkout</a></li>
                                        <hr>
                                        <li><a href="#">Help</a></li>
                                        <li><a href="#">User Agreements</a></li>
                                        <li><a href="#">Privacy Policy</a></li>
                                        <hr>
                                        <li><a href="{% url 'logout' %}">Logout</a></li>
                                    </ul>

                                </li>

                            </ul>
                        </div>

                        {% endif %}

                        <!-- Mobile Menu -->
                        <div class="col-12">
                            <div class="mobile_menu d-block d-lg-none"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Header End -->
</header>

<main>

    <div class="section">
        <div class="container">

            <div class="row mb-5 justify-content-center">
                <div class="col-lg-8 mb-4 text-center">
                    <h2 class="section-title">About Us</h2>
                </div>

                <div class="col-lg-8">

                    <p class="about-text">
                        Vedam EduPoint is a new Ed-Tech startup by young minds of the <strong>India</strong>. We are
                        launching online test series for IIT-JEE and NEET now. You can evaluate your preparations by
                        taking part in our online test series for <b>FREE</b>. Later on we will be coming with courses
                        on various topic in multiple language for different types of competitive exams and class
                        6th-12th.
                    </p>

                </div>

            </div>

        </div>
    </div>


    <div class="section">
        <div class="container">

            <div class="row mb-5 justify-content-center">
                <div class="col-lg-8 mb-4 text-center">
                    <h2 class="section-title">Our Mission</h2>
                </div>

                <div class="col-lg-8">

                    <div class="about-item-container">
                        <div class="custom-rounded-icons">
                            <i class="far fa-lightbulb"></i>
                        </div>
                        <div class="about-item">
                            <p>To Improve Quality & Content of E-Learning.</p>
                        </div>
                    </div>

                    <div class="about-item-container">
                        <div class="custom-rounded-icons">
                            <i class="far fa-lightbulb"></i>
                        </div>
                        <div class="about-item">
                            <p>To Make Education Accessible, Available & Affordable to Everyone.</p>
                        </div>
                    </div>

                    <div class="about-item-container">
                        <div class="custom-rounded-icons">
                            <i class="far fa-lightbulb"></i>
                        </div>
                        <div class="about-item">
                            <p>To Guide Every Student to Bright Future According Their Performances.</p>
                        </div>
                    </div>

                </div>

            </div>

        </div>
    </div>


    <div class="section">
        <div class="container">

            <div class="row mb-5 justify-content-center">
                <div class="col-lg-8 mb-4 text-center">
                    <h2 class="section-title">Our Vision</h2>
                </div>

                <div class="col-lg-8">

                    <div class="about-item-container">
                        <div class="custom-rounded-icons">
                            <i class="far fa-eye"></i>
                        </div>
                        <div class="about-item">
                            <p>To Provide Education to Each & Every Area of the World.</p>
                        </div>
                    </div>

                    <div class="about-item-container">
                        <div class="custom-rounded-icons">
                            <i class="far fa-eye"></i>
                        </div>
                        <div class="about-item">
                            <p>To Make Learning Easy Way With Fun.</p>
                        </div>
                    </div>

                    <div class="about-item-container">
                        <div class="custom-rounded-icons">
                            <i class="far fa-eye"></i>
                        </div>
                        <div class="about-item">
                            <p>To Partner With Talented Persons of the World.</p>
                        </div>
                    </div>

                    <div class="about-item-container">
                        <div class="custom-rounded-icons">
                            <i class="far fa-eye"></i>
                        </div>
                        <div class="about-item">
                            <p>To Provide Courses on Every Topics in multi-languages.</p>
                        </div>
                    </div>

                    <div class="about-item-container">
                        <div class="custom-rounded-icons">
                            <i class="far fa-eye"></i>
                        </div>
                        <div class="about-item">
                            <p>To Establish Our Own Coaching Institute in Future.</p>
                        </div>
                    </div>

                </div>

            </div>

        </div>
    </div>


    <div class="section">
        <div class="container">

            <div class="row mb-5 justify-content-center">
                <div class="col-lg-7 mb-4 text-center">
                    <h2 class="section-title">Our Team</h2>
                    <p class="mb-5">
                        Meet Our team members who are working hard to provide you a better services
                        to fulfill your demands and needs.
                    </p>
                </div>
            </div>

            <div class="row">

                {% for user in user_list %}

                <div class="col-md-6 col-lg-4 mb-4">
                    <div class="team text-center">
                        <img src="{{ user.img.url }}" class="img-fluid w-50 rounded-circle mx-auto mb-4">
                        <div class="py-2">
                            <h3 class="text-black">{{user.first_name}} {{user.last_name}}</h3>
                            <p class="position">{{user.designation}}</p>
                            <p>{{user.about}}</p>
                        </div>
                    </div>
                </div>

                {% endfor %}

            </div>
        </div>
    </div>

</main>


<footer>

    <!-- Footer Start-->
    <div class="footer-area footer-padding">
        <div class="container">
            <div class="row d-flex justify-content-between">
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-7">
                    <div class="single-footer-caption mb-50">
                        <div class="footer-tittle">
                            <h4>Quick Links</h4>
                            <ul>
                                <li><a href="#">About</a></li>
                                <li><a href="#"> Offers & Discounts</a></li>
                                <li><a href="#"> Get Coupon</a></li>
                                <li><a href="#"> Contact Us</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-7">
                    <div class="single-footer-caption mb-50">
                        <div class="footer-tittle">
                            <h4>Products</h4>
                            <ul>
                                <li><a href="#">Courses</a></li>
                                <li><a href="#">Assignments</a></li>
                                <li><a href="#">Online Tests</a></li>
                                <li><a href="#">eBooks</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-7">
                    <div class="single-footer-caption mb-50">
                        <div class="footer-tittle">
                            <h4>Support</h4>
                            <ul>
                                <li><a href="#">Frequently Asked Questions</a></li>
                                <li><a href="#">Terms & Conditions</a></li>
                                <li><a href="#">Privacy Policy</a></li>
                                <li><a href="#">Report Issue</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Footer bottom -->
            <div class="row">
                <div class="col-xl-7 col-lg-7 col-md-7">
                    <div class="footer-copy-right">
                        <p>&copy;
                            <script>
                                    document.write(new Date().getFullYear());

                            </script>
                            <a href="{% url 'home' %}"> WeLearn</a> | All rights reserved.
                        </p>
                    </div>
                </div>
                <div class="col-xl-5 col-lg-5 col-md-5">
                    <div class="footer-copy-right f-right">
                        <!-- social -->
                        <div class="footer-social">
                            <a href="#"><i class="fab fa-twitter"></i></a>
                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                            <a href="#"><i class="fab fa-instagram"></i></a>
                            <a href="#"><i class="fab fa-youtube"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer End-->

</footer>

<!-- JS here -->

<!-- All JS Custom Plugins Link Here here -->
<script src="{% static 'js/vendor/modernizr-3.5.0.min.js' %}"></script>
<!-- Jquery, Popper, Bootstrap -->
<script src="{% static 'js/vendor/jquery-1.12.4.min.js' %}"></script>
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>

<!-- Jquery Mobile Menu -->
<script src="{% static 'js/jquery.slicknav.min.js' %}"></script>

<!-- Jquery Slick , Owl-Carousel Plugins -->
<script src="{% static 'js/owl.carousel.min.js' %}"></script>
<script src="{% static 'js/slick.min.js' %}"></script>

<!-- One Page, Animated-HeadLin -->
<script src="{% static 'js/wow.min.js' %}"></script>
<script src="{% static 'js/animated.headline.js' %}"></script>
<script src="{% static 'js/jquery.magnific-popup.js' %}"></script>

<!-- Scrollup, nice-select, sticky -->
<script src="{% static 'js/jquery.scrollUp.min.js' %}"></script>
<script src="{% static 'js/jquery.nice-select.min.js' %}"></script>
<script src="{% static 'js/jquery.sticky.js' %}"></script>

<!-- contact js -->
<script src="{% static 'js/contact.js' %}"></script>
<script src="{% static 'js/jquery.form.js' %}"></script>
<script src="{% static 'js/jquery.validate.min.js' %}"></script>
<script src="{% static 'js/mail-script.js' %}"></script>
<script src="{% static 'js/jquery.ajaxchimp.min.js' %}"></script>

<!-- Jquery Plugins, main Jquery -->
<script src="{% static 'js/plugins.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
<script src="{% static 'js/custom.js' %}"></script>

</body>

</html>