{% load static %}
{% load widget_tweaks %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="ie=edge" http-equiv="x-ua-compatible">
    <title>Vedam EduPoint</title>
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <link href="{% static 'img/favicon.ico' %}" rel="shortcut icon" type="image/x-icon">

    {% include 'widgets/styles.html' %}

</head>

<body>

{% include 'widgets/header.html' %}

<main>
    <div class="slider-area">
        <div class="slider-active">
            <div class="single-slider">

                <div class="row">

                    <div class="col-md-12">

                        <div class="ml-20 mr-20 text-center pt-100">

                            <img class="mail-img" src="{% static 'img/hero/mail_sent.svg' %}">

                            <br>

                            {% if message1 %}

                            <p class="msg-text">

                                {{message1}}

                            </p>

                            {% endif %}

                            {% if message2 %}

                            <p class="msg-text">

                                {{message2}}

                            </p>

                            {% endif %}

                        </div>

                    </div>

                </div>

            </div>

        </div>
    </div>
</main>

{% include 'widgets/footer.html' %}

{% include 'widgets/scripts.html' %}

</body>

</html>
